retailers:

  ybitan:
    base_url: "https://www.ybitan.co.il"
    goto_wait_until: "domcontentloaded"

    flow:
      - action: goto
        url: "{base_url}/search/{product_id}"

      - action: wait_for_selector
        selector: ".sp-product-price"
        timeout_ms: 30000
        state: "visible"

    pricing:
      final_price:
        selectors_priority:
          - 'meta[itemprop="price"]::attr(content)'
          - "span.sale-price"
          - "span.regular-price"
          - "span.price"

    discount:
      selector: "span.sale-price"
      optional: true
      discounted_price_override: false

    unit_price:
      selector: "span.normalize-price"
      optional: true

  ksp:
    base_url: "https://ksp.co.il/web"
    goto_wait_until: "domcontentloaded"

    flow:
      - action: goto
        url: "{base_url}/item/{product_id}"

      - action: wait_for_selector
        selector: 'meta[itemprop="price"], span[aria-hidden="true"]:has-text("₪")'
        timeout_ms: 5000
        state: "attached"

    pricing:
      final_price:
        selectors_priority:
          - 'meta[itemprop="price"]::attr(content)'
          - 'span[aria-hidden="true"]:has-text("₪")::parent_text'

    discount:
      selector: 'div[class*="redPrice"]'
      optional: true
      discounted_price_override: true

  renuar:
    base_url: "https://renuar.co.il"
    goto_wait_until: "domcontentloaded"

    flow:
      - action: goto
        url: "{base_url}/products/{product_id}"
      - action: wait_for_selector
        selector: "sale-price"
        timeout_ms: 30000
        state: "visible"

    pricing:
      final_price:
        selectors_priority:
          - "sale-price"

    discount:
      selector: "sale-price.price--product-on-sale"
      optional: true
      discounted_price_override: false
